QUE1:

In [ ]:
print("welcome to the world of tech")

welcome to the world of tech

QUE2:

In [ ]:
2+5
str1="coder "
str2="nikita"
str3=str1+str2
print(str3)
str4="hello"
str5=5
str6=f"{str4},{str5}"
print(str6)

coder nikita
hello,5

QUE3:

In [ ]:
n=input("enter a number")
n=int(n)
if(n < 0):
  print("negative")
elif (n > 0):
  print("positive")
else:
  print("zero")
if(n%2==0):
 print("even")
else:
  print("odd")

enter a number10
positive
even

QUE4:

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum=0
for i in range(1,101):
 sum=sum+i
print(sum)

5050

QUE5:

In [ ]:
list1=[10,34,50,89,23]
print(max(list1))
print(min(list1))
dict1={'name':"nikita",'year':2,'subject':"ai"}
print(dict1)
print(dict1['name'])
list1.sort()
print(list1)
list1.sort(reverse = True)
print(list1)
dict2={'country':'india'}
dict1.update(dict2)
print(dict1)

89
10
{'name': 'nikita', 'year': 2, 'subject': 'ai'}
nikita
[10, 23, 34, 50, 89]
[89, 50, 34, 23, 10]
{'name': 'nikita', 'year': 2, 'subject': 'ai', 'country': 'india'}

QUE6:

In [ ]:
count=0
str="mounteverest"
for i in str:
  if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
    count=count+1
print(count)
str2=""
for i in str:
  str2=i+str2
print(str2)
i=0
j=len(str)-1
while i<=j:
  if(str[i]==str[j]):
    i=i+1
    j=j-1
    print("palindrome")
  else:
    print("not palindrome")
    break

5
tserevetnuom
not palindrome

QUE7:

In [ ]:
f=open("nikita.txt",'w')

In [ ]:
f.write("new file is created. it has more content in it.")
f.close()
f=open("nikita.txt",'r')
print(f.read())
f.close()
f=open("nikita.txt",'a')
f.write("new content is added.")
f.close()
f=open("nikita.txt",'r')
print(f.read())
f.close()

new file is created./n it has more content in it.
new file is created./n it has more content in it.new content is added.

In [ ]:
with open("nikita.txt",'r') as f:
  lines=f.readlines()
  line=len(lines)
print(line)

1

QUE8:

In [ ]:
a=input("enter a number")
b=input("enter a number")
a=int(a)
b=int(b)
try:
  c=a/b
  print(c)
except :
  print( "error")

enter a number9
enter a number0
error

In [ ]:

try:
  x=int(input("enter number"))
  print(x)
except:
  print("error")
finally:
  print ("issue solved")

enter number9
9
issue solved

QUE9:

In [ ]:
from numpy import random
for i in range(5):
  x=random.randint(100)
  print(x)

26
3
41
60
48

In [ ]:
from numpy import random
x=random.randint(100)
print(x)
for i in range (1,(int(x/2)+1)):
  if(x%i==0 and i!=1):
    print("not prime")
    break
else:
  print("prime")

41
prime

In [ ]:
from numpy import random
x=random.choice([1,2,3,4,5,6])
print(x)
y=random.choice(10)
print(y)

6
5

In [ ]:
list1=['a','e','i','o','u']
random.shuffle(list1)
print(list1)
random.c

['a', 'i', 'u', 'e', 'o']

In [ ]:
x=random.randint(9,size=5)
print(x)

[4 0 1 3 8]

In [ ]:
import random
n=int(input("enter no of values"))
option='ABCDEFGHIJKLMNOPQRSTUVWXYZ123456789abcdefghijklmnop@!#$%'
password=''.join(random.choices(option,k=n))
print(password)

enter no of values9
ASBLDg8ON

In [ ]:
list1=['diamond','heart','spade','club']
list2=['king','queen','jack','ace',1,2,3,4,5,6,7,8,9,10]
a=random.choice(list1)
b=random.choice(list2)
print(f"the card is {a} {b}")

the card is club 2

QUE10:

In [12]:
import sys
sys.argv=[1,2,3]
n1=int(sys.argv[1])
n2=int(sys.argv[2])
print(n1+n2)

5

QUE11:

In [ ]:
import sys
sys.argv=["pranam"]
print(len(sys.argv))

In [ ]:
import math
x=math.sqrt(16)
print(x)
import datetime
x=datetime.datetime.now()
print(x)
import os
os.listdir()

4.0
2025-01-18 04:21:03.343309

['.config', 'sample_data']